@{
    ViewBag.Title = "About";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body style="background-image: url('../../images/2018120313504902571466068.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; width: 100%;">
    <div class="jumbotron">
        <h1 align="center">Founding & Visions</h1>
        <br />
        <p>
            Founders started life in 2013. No crazy anecdotes, we started Founders because we strongly believed there was a better way to build investation companies.
            <br />
            <br />
            Today our family has grown to 100+ amazing people in Copenhagen and Berlin building products that radically improve how individuals and organisations work.
            <br />
            <br />
            Our vision then and now is to develop a model that enables us to co-found successive companies on a single platform that gets smarter with each success and failure, thereby increasing our chances of success.
            <br />
            <br />
            We believe in launching early and iterating fast, knowing that failing is just a way to find out what doesn't work.
        </p>
        <img src="~/images/3016933-riot.jpg" width="100%" height="400" />
        <h1>Learn More about Investigation under below videos</h1>
    </div>
    <br />
    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/covxjhXsCi8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/MdwEAmGSg8k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br />
    
    
    <br />
    
</body>
</html>
