@{
    ViewBag.Title = "Contact";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>

    </title>
    
</head>
<body style="background-image: url('../../images/coins_bills_money_17583_1920x1080.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; width: 100%;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d238.71311746512276!2d96.1380126174541!3d16.80601033616646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c1eb4434bea5f9%3A0x2bb978cb354736b2!2sShan+Kone+St%2C+Yangon!5e0!3m2!1sen!2smm!4v1550438864167" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

    <div class="jumbotron">
        <h1>
            Tell us about your issue so we can help you more quickly.
        </h1>
        <p>
            If you would like more information on any part of our work, please do not hesitate to contact us.
            <br /><br />
            You can come to out office if there are something you want to discuss or direct message us to our Email 'jackpotinvestment@gmail.com'.
            <br /><br />
            You can easily locate us by using location above to our office any time within office hours.
            <br /><br />
            If you want to invest more than 500$, please contact us to our office to get pormotion up to 10%.
            <br /><br />

            <h1>
                WHY "Jackpot" among others?
            </h1>
            <ul style="list-style-type:circle;">

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="~/images/web-programming (1).png" height="200" width="50%" />
                <li>
                    With "Jackpot" web apps, you don’t need to go through all the hassle. They work just like apps, but you access them through a web browser on any device.
                    This cuts down on tedious download times and storage limitations. Users also can pin them to their mobile device’s home screen for easy access.
                </li>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="~/images/mobile-app.png" height="200" width="50%" />
                <li>
                    Because "Jackpot" apps consume less data than traditional websites, they work well even on networks.

                    The current mobile environment includes users that belong to developing countries with low-quality and relatively expensive internet connections.

                    Most of them access the web through 2G or 3G networks, and heavy, slow-loading websites make for a poor browsing experiences.

                    Our web apps can help your business expand its user base to more countries and deliver an overall better mobile web experience.
                </li>
               
                
            </ul>
        </p>
    </div>
    
</body>
</html>