@{
    ViewBag.Title = "Home Page";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body style="background-image: url('../../images/4k-hand-holding-money-pile-black-background_r1z9x_y-zl_thumbnail-full05.png'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; width: 100%;" >
    <div class="jumbotron">
        <h1>
            Welcome From the Jackpot Investment
        </h1>
        <img src="~/images/8-are-there-any-other-fees-i-will-pay.jpg" width="100%" height="300" />
        <br />
        <p>
            Investing: The act of committing money or capital to an endeavor with the expectation of obtaining an additional income or profit.
            <br />
            <br />
            Legendary investor Warren Buffett defines investing as “… the process of laying out money now to receive more money in the future.” The goal of investing is to put your money to work in one or more types of investment vehicles in the hopes of growing your money over time.
            <br />
            <br />
            What is investing?
            <br />
            <br />
            Investing is really about “working smarter and not harder.” Most of us work hard at our jobs, whether for a company or our own business. We often work long hours, which requires sacrifice and adds stress. Taking some of our hard-earned money and investing for our future needs is a way to make the most of what we earn.
            <br />
            <br />
            Investing is also about making priorities for your money. Spending is easy and gives instant gratification—whether the splurge is on a new outfit, a vacation to some exotic spot or dinner in a fancy restaurant. All of these are wonderful and make life more enjoyable. But investing requires prioritizing our financial futures over our present desires.
            <br />
            <br />
            Investing is a way to set aside money while you are busy with life and have that money work for you so that you can fully reap the rewards of your labor in the future. Investing is a means to a happier ending.
        </p>
    </div>
</body>
</html>